<mat-toolbar>
    <button mat-raised-button matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Action
    </button>
    <button mat-button routerLink="/Login">התחברות/הרשמה</button>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->

    <span>צלצולים</span>

</mat-toolbar>


<router-outlet></router-outlet>