

<mat-tab-group>
  <mat-tab label="משתמשים"><app-displayusers></app-displayusers></mat-tab>
  <mat-tab label="קטגוריות">  <app-categories></app-categories> </mat-tab>
  <mat-tab label="מוצרים">  <app-products></app-products> </mat-tab>
</mat-tab-group>

<button mat-raised-button color="primary" (click)="BackMain()"> חזרה לעמוד ראשי</button>

<!-- 
<mat-toolbar class="toolbar">
  <button mat-raised-button color="primary" (click)="AddingProductDialog()">הוספת מוצר</button>
  <button mat-raised-button color="primary" (click)="AddingCategoryDialog()"> הוספת קטגוריה</button>
  <button mat-raised-button color="primary" (click)="CategorieDeleteDialog()"> מחיקת קטגוריה</button>
  <button mat-raised-button color="primary" (click)="displayuser = !displayuser"> רשימת נרשמים לאתר</button>

</mat-toolbar>


<div *ngIf="!displayuser">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="removeRow(element._id)">מחיקת מוצר</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.src" alt="Lamp" width="50" height="50">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> שם המוצר </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> מחיר </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div *ngIf="displayuser">
  <table mat-table [dataSource]=" usersData.data" class="mat-elevation-z8">

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> שם משפחה</th>
      <td mat-cell *matCellDef="let element">
        {{element.lastname}}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>


    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef>שם פרטי</th>
      <td mat-cell *matCellDef="let element">
        {{element.firstname}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsusers"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsusers;"></tr>
  </table>
</div> -->