<br>
    <h1 class="center">סיכום הזמנה</h1>
    <table>
        <thead>
            <tr>
                <th>מחיר</th>
                <th>כמות</th>
                <th>שם</th>
                <th>תמונה</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of api.cartItems">
                <td>{{ "₪" + (item.price! * item.count) }}</td>
                <td>{{ item.count }}</td>
                <td>{{ item.name }}</td>
                <td><img [src]="item.src" alt="תמונה" width="100" height="100"></td>
            </tr>
            <tr>
                <td>{{ "₪" + getTotalCost() }}</td>
                <td> :סך הכול</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>




    <div class="right">

    <h1 class="center">כתובת למשלוח</h1>

    <form [formGroup]="bioSection" (ngSubmit)="OrderConfirmation()">


        

        <mat-form-field>
            <mat-label>עיר </mat-label>

            <input matInput formControlName="City">
        </mat-form-field>

        <mat-form-field>
            <mat-label>רחוב</mat-label>
            <input matInput formControlName="Street">
        </mat-form-field>

        <br>
        <mat-form-field>
            <mat-label>מספר בניין </mat-label>
            <input matInput formControlName="Housenumber">
        </mat-form-field>

        <mat-form-field>
            <mat-label>מספר דירה </mat-label>
            <input matInput formControlName="Apartmentnumber">
        </mat-form-field>

        <br>
        <mat-form-field>
            <mat-label>טלפון </mat-label>
            <input matInput formControlName="phone" required>
        </mat-form-field>
        <div class="center">
            <button mat-raised-button color="warn" type="submit" [disabled]="!bioSection.valid">לשליחת הזמנה</button>
        </div>
    </form>
</div>