
.center {
    text-align: right;
    margin-right: 190px;

}

mat-form-field {
    margin-right: 12px;
}


.right {
    text-align: right;
    margin-right: 50px;
    float: right;

  }
  
  table {
    margin-right: 12px;
    width: 50%;
    border-collapse: collapse;
    float: right; /* הוספת כיוון הצגת בלוק ימין */
  }
  
  /* ניקוי מרווח משמאל לסידור הכותרת */
  table th {
    padding-left: 0;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* .odd {
    background-color: #f9f9f9;
  } */
  
  .total-cell {
    font-weight: bold;
    text-align: left;
  }
  