<div class="center">
  <h1>התחברות</h1>



  <form #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm)" >
        
  <p>שם משתמש</p>
  <mat-form-field>
      <input matInput  name="Username" required ngModel="">
  </mat-form-field>
  
<p>סיסמה</p> 
  <!-- <mat-form-field>
    <input matInput  required name="password"
     ngModel>
  </mat-form-field> -->


    <mat-form-field>
      <input matInput required name="password" ngModel [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  <div>
    <button mat-raised-button color="warn"  type="submit" [disabled]="!heroForm.form.valid" >התחברות</button>
  </div>

  </form>

  <button mat-raised-button routerLink="/Createaccount">הרשמה </button>
</div>


  <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <p>שם משתמש</p>
    <mat-form-field appearance="fill" for="name">
      <input matInput name="first" >
    </mat-form-field>
    <div>
      <p>סיסמה</p>
      <mat-form-field appearance="fill" for="last">
        <input matInput  password="last" >
      </mat-form-field>
    </div>
    <button mat-raised-button color="warn" class="login-btn"  >התחברות</button>
  </form>

  <div>
    <button mat-stroked-button color="warn" routerLink="/Createaccount">יצירת חשבון</button>
  </div>
</div> -->

<div *ngIf="!c">
<div *ngIf="api.a <1">Zalmala will wait to connect</div>
</div>

