<div class="center">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


    <mat-form-field>
      <mat-label>שם משתמש </mat-label>
      <input matInput #input1 formControlName="username" required>
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>סיסמה</mat-label>
      <input matInput #input [type]="'password'" required formControlName="password">
    </mat-form-field>

    <div>
      <button style="margin-right: 10px;" mat-raised-button color="warn" (click)="enrollment()">הרשמה</button>
      <button mat-raised-button color="warn" type="submit" [disabled]="!loginForm.valid">התחברות</button>


    </div>
  </form>

  <div *ngIf="api.error.length > 4">{{api.error}}</div>

</div>

<div class="spinner-container"><mat-spinner *ngIf="api.isLoading"></mat-spinner>
</div>