.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .center {
    text-align: center;
}
.login-btn {
  margin-bottom: 15px
}
  
.margin {
  margin-right: 15px;
}

.error-message {
  color: red;
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
