<div class="center">
<h1>הרשמה</h1>


<form [formGroup]="bioSection" (ngSubmit)="callingFunction()">

  <p>שם פרטי</p>
<mat-form-field>
  <input matInput formControlName="first" required [(ngModel)]="model.first" ngModel>
</mat-form-field>


<p>שם משפחה</p>
<mat-form-field>
    <input matInput formControlName="Family" [(ngModel)]="model.Family" ngModel>
</mat-form-field>
<p> כתובת אימייל</p> 
<mat-form-field>
<input matInput formControlName="email" required [(ngModel)]="model.email" ngModel>

</mat-form-field>
<div *ngIf="bioSection.controls['email'].touched">{{getErrorMessage()}}</div>

<p>שם משתמש</p>
<mat-form-field>
  <input matInput  formControlName="Username" required [(ngModel)]="model.Username" ngModel>
</mat-form-field>
<div *ngIf="bioSection.controls['Username'].touched">{{getErrorMessageUsername()}}</div>

<p>סיסמה</p> 
<mat-form-field>
<input matInput #input [type]="hide ? 'password' : 'text'" required formControlName="password"  [(ngModel)]="model.password" ngModel>
</mat-form-field>
<div *ngIf="bioSection.controls['password'].touched">{{getErrorMessagepassword()}}</div>

<strength-checker
barLabel="חוזק סיסמה:"
[passwordToVerify]="model.password"
(passwordStrength)="passwordValid($event)"
></strength-checker>



<button mat-raised-button color="warn"  type="submit" [disabled]="!bioSection.valid">הרשמה</button>
</form>
</div>
