<div class="center">
<h1>הרשמה</h1>

<form (ngSubmit)="onSubmit1()" #heroForm="ngForm">
        
    <p>שם פרטי</p>
    <mat-form-field>
        <input matInput name="first" [(ngModel)]="model.first" ngModel>
    </mat-form-field>
    <div>
        <p>שם משפחה</p>
    <mat-form-field>
        <input matInput name="Family" [(ngModel)]="model.Family" ngModel>
    </mat-form-field>
</div>
<p> כתובת אימייל</p> 
<mat-form-field>
    <input matInput name="email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
    required [(ngModel)]="model.email" ngModel>
  
  </mat-form-field>
  <p>שם משתמש</p>
  <mat-form-field>
      <input matInput  pattern="(?=.*[a-z]).{8,}" name="Username" required [(ngModel)]="model.Username" ngModel>
  </mat-form-field>
  
<p>סיסמה</p> 
  <mat-form-field>
    <input matInput #input [type]="hide ? 'password' : 'text'" required 
     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password"  [(ngModel)]="model.password" ngModel>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
    [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <strength-checker
  barLabel="חוזק סיסמה:"
  [passwordToVerify]="model.password"
  (passwordStrength)="passwordValid($event)"
></strength-checker>

  <div>
    <button mat-raised-button color="warn"  type="submit" [disabled]="!heroForm.form.valid" >הרשמה</button>
  </div>

  </form>
</div>