.example-spacer {
  flex: 1 1 auto;
}


.p {

margin-top: 5px;
margin-bottom: 0px;

}


::ng-deep .custom-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

::ng-deep .menu-list {
  list-style-type: none;
  padding: 0;
}

 .menu-item {
  padding: 8px 16px;
  cursor: pointer;
}

::ng-deep .empty-message {
  color: #999;
  padding: 16px;
}

mat-toolbar {
  background-color: #EDE7F6;}

  .fixed-bottom-button {
    position: fixed;
    bottom: 20px; /* Adjust the value as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  







