<mat-toolbar *ngIf="!api.login">
  <button mat-raised-button aria-label="סל הקניות" (click)="openDialog()"
    [matBadge]="api.Connected ? api.cartLength : '0'" matBadgePosition="before" matBadgeColor="warn">
    <span class="material-icons">shopping_cart</span>
  </button>
  <span *ngIf="!api.Connected">
    <button mat-button (click)="Login()">התחברות/הרשמה</button>
  </span>
  <span *ngIf="api.Connected">
    <button mat-button (click)="api.LogOut()">התנתקות</button> שלום
    {{ api.user[0].firstname }} {{ api.user[0].lastname }}
  </span>
  <span class="example-spacer">

    <button mat-button (click)="Definitions()"><span class="material-icons">settings</span>
    </button>

  </span>
  <span class="pw"> <img class="p"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA4gCG7Bjb_0E0X3z1qKXi6hcDsmeYSr9EjA&usqp=CAU"
      title="צלצולים" alt="Lamp" width="68" height="68">
  </span>

</mat-toolbar>

<router-outlet></router-outlet>

<!-- <app-test></app-test> -->

<!-- <table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    <th mat-header-cell *matHeaderCellDef>
      {{ col.label }}
    </th>
    <td mat-cell *matCellDef="let element">
      <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="element.isEdit = !element.isEdit"> Edit </button>
          <button mat-button class="button-remove" (click)="removeRow(element._id)">Delete</button>
        </div>
        <span *ngSwitchDefault>
          {{ element[col.key] }}
        </span>
      </div>
      <div [ngSwitch]="col.type" *ngIf="element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="element.isEdit = !element.isEdit; editRow(element)">Done</button>
        </div>
        <mat-form-field *ngSwitchDefault>
          <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
        </mat-form-field>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->