<mat-toolbar *ngIf="!apiService.login">
  <button mat-raised-button aria-label="סל הקניות" (click)="openDialog()"
    [matBadge]="apiService.Connected ? apiService.cartLength : '0'" matBadgePosition="before" matBadgeColor="warn">
    <span class="material-icons">shopping_cart</span>
  </button>

  <span *ngIf="!apiService.Connected">
    <button mat-button (click)="Login()">התחברות/הרשמה</button>
  </span>
  <span *ngIf="apiService.Connected">
    <button mat-button (click)="apiService.LogOut()">התנתקות</button>
    {{ apiService.user[0].firstname }} {{ apiService.user[0].lastname }} שלום
  </span>
  <span class="example-spacer"></span>


  <span class="pw"> <img class="p" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA4gCG7Bjb_0E0X3z1qKXi6hcDsmeYSr9EjA&usqp=CAU" title="צלצולים"
      alt="Lamp" width="68" height="68">
  </span>

</mat-toolbar>

<router-outlet></router-outlet>


<button class="fixed-bottom-button" (click)="Login1()"> לעבור לעמוד מנהל</button>



