

 
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 20px;
  }
  
  .scroll-container {
    height: 600px;
    overflow-y: scroll;
  }
  
  

  .grid-container mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .filter-container {
   
    align-items: center;
    text-align: center;
  }


  .my-custom-button:hover {
    background-color: red; 
  }

  .toolbar {
    display: flex;
    justify-content: space-between; 
  }
  
 
  .centered-text {
    text-align: center; 
  }
  

  .active-button {
    background-color: darkorange;
    color: white;
  }


  .example-viewport {
    height:530px;
    width: 1530px;
  }
  
  .example-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 20px;
  }

  .emphasized-label {
    font-weight: bold;
    font-size: 16px;
  }

  .rtl-table {
  direction: rtl;
}


.mat-column-Image {
  width: 50px;
  padding-left: 16px;
}

.mat-column-name,
.mat-column-price,
.mat-column-Image {
  max-width: 164px;
}

.mat-column-actions {
  max-width: 124px;
}