

  .viewport {
    overflow: auto;
    height: 10000px; 
  }
 
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 20px;
  }
  
  .scroll-container {
    height: 600px;
    overflow-y: scroll;
  }
  
  

  .grid-container mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  




  .my-custom-button:hover {
    background-color: red; 
  }

  .toolbar {
    display: flex;
    justify-content: space-between; 
  }
  
 
  .centered-text {
    text-align: center; 
  }
  