<h1 class="title">חנות פלאפונים</h1>
<!-- <mat-toolbar class="toolbar">

  <button mat-button color="primary" *ngFor="let mobile of this.api.Category"
    (click)="filter(mobile); activeButton = mobile.category" [class.active-button]="activeButton === mobile.category">{{
    mobile.category }}</button>
  <button mat-raised-button color="primary" (click)="showall(); activeButton = 'showAll' "
    [class.active-button]="activeButton === 'showAll'"> הצג הכול</button>
</mat-toolbar> -->


<mat-toolbar  class="toolbar">
  <div class="topic-buttons-container">
    <button  *ngFor="let mobile of this.api.Category" 
    (click)="filter(mobile); activeButton = mobile.category" [class.active-button]="activeButton === mobile.category">
    {{mobile.category }}</button>
  <button (click)="showall(); activeButton = 'showAll' "
    [class.active-button]="activeButton === 'showAll'"> הצג הכול</button>
    </div>
</mat-toolbar>

<div *ngIf="api.listmobileMock?.length === 0" class="loading-container">
  <img src="assets/loading-loading-forever.gif" alt="Loading...">
</div>


<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport" *ngIf="this.api.listmobileMock">

  <div class="grid-container">

    <div *cdkVirtualFor="let mobile of this.api.listmobileMock">

      <mat-card>
        <img src="assets/Sale.gif" class="sale-gif">
        <img [src]="mobile.src" [title]="mobile.name" alt="Lamp" height="222">
        <p><em class="emphasized-label"></em> {{mobile.name}}</p>
       
        <p> <em class="emphasized-label">מחיר:</em> {{"₪" + mobile.price }} </p>
        <mat-card-actions>
            
          <button class="my-black-button" (click)="addCart(mobile._id)">
            <mat-icon>shopping_cart</mat-icon>  הוסף לסל
          </button>
          <!-- <button mat-icon-button *ngIf="mobile.love === true"
            (click)="mobile.love =false; deleteFavorites(mobile._id)">
            <mat-icon>favorite </mat-icon>
          </button>

          <button mat-icon-button *ngIf="mobile.love === false" (click)="mobile.love =true; addFavorites(mobile._id)">
            <mat-icon>favorite_border </mat-icon>
          </button>
           -->
          <button class="my-black-button" (click)="buyNow(mobile)">
            
            קנה עכשיו
          </button>
          

        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</cdk-virtual-scroll-viewport>

