
<!-- 
  <mat-form-field>
  <mat-label>בחירת קטגוריה</mat-label>
  <mat-select formControlName="category">
    <mat-option matInput *ngFor="let category of categories" [value]="category._id">
      {{ category.category }}
    </mat-option>
  </mat-select>
</mat-form-field> -->

<!-- 
<div mat-dialog-content>
    <p>מחיקת קטגוריה</p>
    <mat-form-field >
        <mat-label>מחיקת קטגוריה</mat-label>
        <mat-select  formControlName="category">
          <mat-option matInput *ngFor="let category of categories" [value]="category._id">
            {{ category.category }}
          </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close (click)="categorieDelete(category)">הוספת קטגוריה</button>
</mat-dialog-actions> -->
