<button mat-raised-button color="primary" (click)="AddingProductDialog()">הוספת מוצר</button>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.isEdit">
                <button mat-button (click)="element.isEdit = !element.isEdit"><span class="material-icons">edit</span></button>
                <button mat-button (click)="removeRow(element._id)"> <span class="material-icons">delete</span></button>
            </div>
            <div *ngIf="element.isEdit">
                <button mat-button (click)="element.isEdit = !element.isEdit; ProductUpdate(element)">בוצע</button>
            </div>
            <!-- <div>
                @if (!element.isEdit) {
                <button mat-button (click)="element.isEdit = !element.isEdit"><span
                        class="material-icons">edit</span></button>
                <button mat-button (click)="removeRow(element._id)"> <span class="material-icons">delete</span></button>
                }
                @else {
                <button mat-button (click)="element.isEdit = !element.isEdit; ProductUpdate(element)">בוצע</button>
                }
            </div> -->
        </td>
    </ng-container>

    <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <img [src]="element.src" alt="Lamp" width="50" height="50">
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> שם המוצר </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.isEdit">{{element.name}}</span>
            <div *ngIf="element.isEdit">

                <mat-form-field>
                    <input matInput [(ngModel)]="element.name" />
                </mat-form-field>
            </div>


        </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> מחיר </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.isEdit">{{element.price}}</span>
            <div *ngIf="element.isEdit">
                <mat-form-field>
                    <input matInput [(ngModel)]="element.price" />
                </mat-form-field>
            </div>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <button mat-button (click)=" openDialog()">בוצע</button> -->
