
  .count-input-container {
  display: flex;
  align-items: center;
}

.count-input {
  width: 30px; 
  text-align: center;
  margin: 0 10px; 
}

.mat-icon-button {
  width: 24px; 
  height: 24px; 
  padding: 0; 
}
