    <table mat-table [dataSource]="this.apiService.cartItems">
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>price</th>
          <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>שם המוצר</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>


        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>count</th>
          <td mat-cell *matCellDef="let element">
            <div class="count-input-container">
              <button mat-icon-button color="warn" (click)="updateAddCart(element, 'remove')">
                <mat-icon class="small-icon">remove</mat-icon>
              </button>
              <input class="count-input" type="text" [(ngModel)]="element.count">
              <button mat-icon-button color="warn" (click)="updateAddCart(element, 'add')">
                <mat-icon class="small-icon">add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        
        

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let index = index; let element">
            <button mat-icon-button color="warn" (click)="deleteItem(index, element._id)">
              <mat-icon>delete</mat-icon>  
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="['price', 'name', 'count', 'delete']"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: ['price', 'name',  'count', 'delete'];"></tr>
      </table>
 
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>סגור</button>
    <button mat-button mat-dialog-close (click)="navigateToorderconfirmation()">אישור הזמנה</button>
  </mat-dialog-actions>

  
